@model DataLayerPrimitives.COG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartQtyUnitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartQtyUnitID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
