@model SSMWeb.Models.Box

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Box</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartCapOfBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartCapOfBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartQtyUnitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartQtyUnitID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartQtyLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartQtyLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxUnitOfTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxUnitOfTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxTotalOfTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxTotalOfTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode.CodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode.CodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.SKU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
