@model IEnumerable<SSMWeb.Models.Box>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarcodeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartCapOfBox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartQtyUnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartQtyLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxUnitOfTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxTotalOfTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PONumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarcodeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartCapOfBox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartQtyUnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartQtyLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxUnitOfTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxTotalOfTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
