@model DataLayerPrimitives.FulfilmentSKU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FulfilmentSKU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
