@model SSMWeb.Models.OrderList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesChannel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesChannel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Box.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Box.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
